@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*{
  margin:0;
  padding:0;
} 
body {
  margin: none;
  padding: none;
  background: rgb(199, 165, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#grid {
  background: white;
  width: 100vmin;
  height: 100vmin;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(22, 1fr);
}
.snake_tail {
  background: rgb(79, 150, 108);
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.food {
  background: rgb(100, 62, 109);
  border: solid rgb(219, 218, 218) 3px;
  border-radius: 50%;
}

.snake2_tail {
  background: rgb(79, 122, 150);
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.snake3_tail {
  background: rgb(150, 81, 79);
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.scoreBoard {
  position: fixed;
  display: flex;
  top: 10px;
}
.scores {
  background: white;
  font-family: 'Arvo', serif;
  border-radius: 10%;
  width: 80px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: rgb(219, 218, 218) solid 3px;
 
}
#snake1 {
  color: rgb(79, 150, 108);
}
#snake2 {
  color: rgb(79, 122, 150);
}
#snake3 {
  color:  rgb(150, 81, 79);
}

