@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

/* This is the default style for the entire page */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: none;
  padding: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(107, 127, 17),
    rgb(235, 212, 61)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Arvo", serif;
}

/* This is the game grid: */
#grid {
  background: white;
  width: 100vmin;
  height: 100vmin;
  margin: 10px;
  display: grid;
}

/* This is the food in the game: */
.food {
  border: solid rgb(219, 218, 218) 3px;
  border-radius: 50%;
}

/* This is for the snakes in the game: */
.snake {
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

/* This is for the score board styles: */
#scoreBoard {
  position: fixed;
  display: flex;
  top: 10px;
}

.scores {
  background: rgba(255, 255, 255, 0.252);
  font-family: "Arvo", serif;
  border-radius: 10%;
  width: 80px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: rgb(219, 218, 218) solid 3px;
}
